<div class="page-header position-relative">
    <div class="templatemo-panels">
        <div class="row">

            <div class="col-md-6 col-sm-6 margin-bottom-30">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form class="form-horizontal" ng-submit="addUser()">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">User Name</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" name="Name" ng-model="userToAddData.UserName" required/>

                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="form-field-4">User Email</label>

                                <div class="controls">
                                    <input type="email" id="form-field-4" name="UserEmail" pattern="[a-zA-Z0-9.!#$%&’*+/ =?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" ng-model="userToAddData.UserEmail" required />

                                </div>                                                              
                            </div>                                                                   
                            

                            <div class="form-actions">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    Add User
                                </button>


                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-bar bigger-110"></i>
                                    Reset
                                </button>
                            </div>




                            <div class="hr"></div>

                        </form>

                        <div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">

                            <div class="bar" style="width: 100%;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>