<div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
</div>
<br />
<div class="span12">
    <h1> Add Project to location </h1>
</div>
<div class="span12">
    <form class="form-horizontal" ng-submit="AddProject()">
        <div class="control-group">
            <label class="control-label" for="form-field-1">Location</label>
            <select ng-model="ToAddData.LocationId" ng-change="fetchProjects(ToAddData.LocationId)">
                <option 
                        ng-repeat="item in Locations"
                        value="{{item.LocationId}}">
                    {{item.LocationName}}
                </option>
            </select>
            <br/>
            <label class="control-label" for="form-field-1">Projects</label>
            <select ng-model="ToAddData.ProjectId">
                <option 
                        ng-repeat="item in Projects"
                        value="{{item.ProjectId}}">
                    {{item.ProjectName}}
                </option>
            </select>
            <br />
          
        
        </div>
        <div class="hr"></div>
        <div class="form-actions">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Add Project
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>
        </div>
        
    </form>
</div>
<br />






