<div class="page-header position-relative">
    <h1>
        Location - {{locationDetailsData.LocationName}}

    </h1>
</div>
<br />
<div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">
    <div class="bar" style="width: 100%;"></div>
</div>
<br />
<div class="span12">
    <table id="Table3" class="table table-striped table-bordered table-hover" style="width:500px;">
        <thead>
        <th colspan="2">
            Created Date
        </th>
        <th colspan="2">
            Changed Date
        </th>
        <th colspan="2">
            Changed By
        </th>
        </thead>
        <tr>
            <td colspan='2'>
                {{locationDetailsData.CreatedDate}}
            </td>
            <td colspan='2'>
                {{locationDetailsData.ChangedDate}}
            </td>
            <td colspan='2'>
                {{locationDetailsData.ChangedByName}}
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search by name">
            </td>
        </tr>
    </table>
    <table id="Table4" class="table table-striped table-bordered table-hover" style="width:500px;">
        <thead>
        <th>Project Name</th>
        <th>Project Id</th>
        <th>User ID</th>
        <th>Changed By</th>
        <th>Action</th>
        </thead>
        <tr ng-repeat="i in pagedItems[currentPage]">
            <td>{{i.ProjectName}}</td>
            <td>{{i.ProjectId}}</td>
            <td>{{i.ChangedById}}</td>
            <td>{{i.ChangedByName}}</td>    
            <td>
                <button class="btn btn-small btn-grey" ng-click="OpenClose(i)">{{i.OpenClose}}</button>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination pull-left">

                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length)"
                            ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>

                    </div>
                </td>
            </tr>
        </tfoot>

    </table>
</div>
<br />





