<div class="page-header position-relative">
    <h1>
        Beneficiary Details
        <!--<small>
            <i class="icon-double-angle-right"></i>
            overview &amp; stats
        </small>-->
    </h1>
</div>


<br />


<!--<div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">

    <div class="bar" style="width: 100%;"></div>

</div>

<br />

<div class="span12">
    <table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:500px;">





        <tr>
            <td>
                Beneficiary Name
            </td>
            <td>
                {{beneficiaryDetailsData.BeneficiaryName}}
            </td>
        </tr>

        <tr>
            <td>
                Beneficiary Id
            </td>
            <td>
                {{beneficiaryDetailsData.BeneficiaryId}}
            </td>
        </tr>

        
        <tr>
            <td>
                 Project Name
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                Location Name
            </td>
            <td>
                
            </td>
        </tr>



    </table>
</div>


<div class="span12">
    <table id="Table3" class="table table-striped table-bordered table-hover" style="width:500px;">
        <thead>
        <th colspan="2">
            Admin Info
        </th>
        </thead>
        <tr>
            <td>
                Created Date
            </td>
            <td>
                {{beneficiaryDetailsData.CreatedDate}}
            </td>
        </tr>
        <tr>
            <td>
                Changed Date
            </td>
            <td>
                {{beneficiaryDetailsData.ChangedDate}}
            </td>
        </tr>
        <tr>
            <td>
                Changed By
            </td>
            <td>
                {{beneficiaryDetailsData.ChangedBy}}
            </td>
        </tr>



    </table>
   <p> Changed by : {{beneficiaryDetailsData.ChangedBy}}
</div> -->

<p>
    Changed by : {{beneficiaryDetailsData.ChangedBy}} </p>


    <br />





