
<div class="page-header position-relative">
    <h1>
        Edit User
        <!--<small>
            <i class="icon-double-angle-right"></i>
            overview &amp; stats
        </small>-->
    </h1>
</div>


<br />


<div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">

    <div class="bar" style="width: 100%;"></div>

</div>

<br />

<form class="form-horizontal">
    <div class="span12">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover" style="width:500px;">




            <tr>
                <td>
                    User Name
                </td>
                <td>
                    <input type="UserName" id="form-field-1" name="UserName" ng-model="userToEditData.UserName" required></input>
                </td>
            </tr>

            <tr>
                <td>
                    User Email
                </td>
                <td>
                    <input type="UserEmail" id="form-field-2" name="UserEmail" ng-model="userToEditData.UserEmail" required></input>
                </td>
            </tr>
            


        </table>
    </div>






    <div class="span12">
        <table id="Table3" class="table table-striped table-bordered table-hover" style="width:500px;">
            <thead>
            <th colspan="2">
                Admin Info
            </th>
            </thead>
            <tr>
                <td>
                    Created Date
                </td>
                <td>
                    {{userToEditData.CreatedDate}}
                </td>
            </tr>
            <tr>
                <td>
                    Changed Date
                </td>
                <td>
                    {{userToEditData.ChangedDate}}
                </td>
            </tr>
            <tr>
                <td>
                    Changed By
                </td>
                <td>
                    {{userToEditData.ChangedBy}}
                </td>
            </tr>



        </table>
    </div>


    <div class="span12">
        <div class="form-actions">
            <button class="btn btn-info" type="submit" ng-click="editUser()">
                <i class="icon-ok bigger-110"></i>
                Edit
            </button>


            &nbsp; &nbsp; &nbsp;
            <button class="btn" ng-click="resetEditUserForm()">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>
        </div>
        <div class="hr"></div>
    </div>


</form>



<br />




