
    <div class="page-header position-relative">
        <h1>
          
            
            <!--<small>
                <i class="icon-double-angle-right"></i>
                overview &amp; stats
            </small>-->
        </h1>
        <table>{{chartSeries.Name}}</table>
    </div>
    <div class="progress progress-warning progress-small progress-stripped active" ng-show="isBusy">

        <div class="bar" style="width: 100%;"></div>
    </div>

    <div class="row">
     
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
         
            <!--<div class="row-fluid">
                <label for="prettyJSON">
                    <input id="prettyJSON" type="checkbox" ng-model="prettyJSON">
                    Pretty JSON</label>
            </div>-->
            <!--<div class="row-fluid">
                <pre ng-show="prettyJSON">
                    {{ chartConfig | json }}
                </pre>
                <pre ng-show="!prettyJSON">
                    {{ chartConfig }}
                </pre>
            </div>-->
        </div>



